/*
Theme Name: <Project Name>
Theme URI: http://www.izsagroup.com
Author: Winston Alcantara
Author URI: http://www.winstonalcantara.com
Description: Main Stylesheet
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video                { background:transparent; border:0; margin:0; padding:0; }
a                                       { color:#000000; text-decoration:none; -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms; transition:300ms; }
a:active, a:focus, a:hover              { color:#0f0f0f; text-decoration:none; }
button                                  { -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms; transition:300ms; }
img                                     { -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms; transition:300ms; }


/* =Fonts
-------------------------------------------------------------- */



/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */



/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */



/* =Header
-------------------------------------------------------------- */


/* =Navigation
-------------------------------------------------------------- */


/* =Menu
-------------------------------------------------------------- */


/* =Content
-------------------------------------------------------------- */
.content                                { font-size:12px; margin:30px auto; }

/* =Widget
-------------------------------------------------------------- */


/* =Footer
-------------------------------------------------------------- */

