/*
Theme Name: <Project Name>
Theme URI: http://www.izsagroup.com
Author: Winston Alcantara
Author URI: http://www.winstonalcantara.com
Description: Navigation Stylesheet
*/


/* =Navigation
-------------------------------------------------------------- */
header .navbar                          { background-color:#f3f3f3; min-height:90px; }
header .img-logo                        { height:50px; }
header .header-menu a.nav-link          { color:#000000; font-family:'Open Sans', sans-serif; font-size:12px; text-decoration:none; text-transform:uppercase; padding-left:10px; padding-right:10px; margin:auto 5px; }
header .header-menu a.nav-link:active,
header .header-menu a.nav-link:hover    { background-color:#ffffff; text-decoration:none; }
.navbar-toggler                         { background-color:none; font-size:36px !important; }
.navbar-toggler i                       { background-color:none; color:#000000; cursor:pointer; }
