/*
Theme Name: <Project Name>
Theme URI: http://www.izsagroup.com
Author: Winston Alcantara
Author URI: http://www.winstonalcantara.com
Description: Navigation Stylesheet
*/


/* =Navigation
-------------------------------------------------------------- */
footer                                  { background-color:#f3f3f3; padding:30px 30px; }
footer #main-footer .content            { margin:0px auto; }